<section id="three">
    <div class="row">
        <div class="col-6 col-12-small">
            <h2>Check out my CV</h2>
            <a href="/pdfs/Mitch Leverstone CV.pdf" class="button primary">Download PDF</a>
        </div>

        <div class="col-6 col-12-small">
            <h2>Get In Touch</h2>
            <ul class="contact">
                {% for _, content, icon, link in BLOGROLL %}
                <li class="icon {{ icon }}">
                    <a href="{{ link }}" target="_blank" rel="noopener noreferrer">{{ content }}</a>
                </li>
                {% endfor %}
                <li class="icon solid fa-phone">(+44) 07729046656</li>
            </ul>
        </div>
    </div>
</section>
